/* input[type="text"] {
  width: 100%;
} */

/* input 태그. type은 text, maxlength 속성이 존재하면 스타일링 */
/* input[type="text"][maxlength] {
  background-color: #8cd9ff;
} */
/* input 태그. type은 text, maxlength 가 20이면면 스타일링 */
/* input[type="text"][maxlength="20"] {
  padding: 10rem;
} */

/* input[type="number"] {
  padding: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
} */

/* input[type="number"]:focus {
  outline: 0;
  box-shadow: 0 0 1rem #8cd9ff;
} */

.grid {
  display: grid;
  grid-template-columns: minmax(6.25rem, auto) 1fr;
  row-gap: 0.625rem;
  align-items: center;
}

input[type="email"],
input[type="password"] {
  padding: 0.4rem 0.625rem;
  outline: 0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  padding: 0.3rem 0.625rem;
  border: 1px solid #62ffc6;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  color: red;
  border: 1px solid #790101;
}

select {
  padding: 0.625rem;
  outline: 0;
  background-color: thistle;
  color: #666;
  border: 1px solid rgb(192, 146, 192);
  border-radius: 0.5rem;
}

textarea {
  box-sizing: border-box;
  padding: 0.625rem;
  width: 100%;
  min-height: 300px;
  max-height: 400px;
}
