html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: gray;
}

.head {
  margin: 0 auto;
  width: 600px;
  height: 100%;
  border: 1px solid black;
  background-color: white;
  font-size:0;
}

.div-yellow {
  background-color: rgb(255, 230, 0);
  padding: 5px 10px;
  height: 2.5rem;
  position: relative;
  vertical-align: middle;
}

.logo {
  /* float: left; */
  position: absolute;
  left: 0;
  margin: 5px;
  background-image: url(./goodgag.1px.png);
  background-repeat: no-repeat;
  width: 5rem;
  height: 2rem;
}

.right {
  margin: 5px;
  padding-right: 10px;
  /* float: right; */
  position: absolute;
  right: 0;
  list-style-type: none;
}

.right > li {
  display: inline-block;
  margin: 2px;
}

.pr {
  background-color: #fed000;
  border: 1.2px solid #e8af2b;
  border-radius: 4px;
  vertical-align: top;
  width: 1.7rem;
  height: 1.7rem;
}

.pr > img {
  filter: invert(1) drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));  
}

.my {
  background-image: url(./goodgag.1px.png);
  background-repeat: no-repeat;
  background-position: 0px -38px;

  width: 2.5rem;
  height: 2rem;
}

.write {
  background-image: url(./goodgag.1px.png);
  background-repeat: no-repeat;
  background-position: -40px -38px;

  width: 2.3rem;
  height: 2rem;
}

.line-yellow {
  height: 1px;
  background-color: rgb(255, 196, 0);
}

.div-gray {
  color: #fff;
  padding: 5px 10px;
}

.line-gray {
  height: 1px;
  background-color: #999;
}

.div-content {
  padding: 5px 10px;
}

.reply {
  color: rgb(255, 136, 0);
  font-weight: 500;
}

.category {
  color: brown;
}

.content-info {
  color: #999;
  font-weight: 500;
}

.bar {
  color: #ccc;
  font-weight: 300;
}
